<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Admin Login</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/login.css">
        
        <style>
            
            .container {
                justify-content: center;
            }
            
        </style>


    </head>

    <body>
        <div class="wrapper">
            <h1 class="heading">ADMIN LOGIN</h1>
            <div class="container">
              
            <div class="col-right">
                <div class="login-form">
                    <h2>Enter Details</h2>
                  <form action="/admin_check" method="post">
                    <p>
                      <input type="text" name="username" id="username"  placeholder="Username" required>
                    </p>
                    <p>
                      <input type="password" name="pswd" id="email" placeholder="Password" required>
                    </p>
                    <p>
                      <input class="btn" type="submit" name="submit" id="submit" value="LOGIN" />
                    </p>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
    </body>
</html>